body
{
    background:#ffffff;
    color:black;
    font-family: 'Jost', sans-serif;
    margin:0;
    width:100%;
}
.nav
{
    background-color:#cc8b79;
    padding:20px;
    text-align:center;

}

.header{
    text-align:center;
    align-items:center;
    top:0;
    width:100%
}
.section-art
{
    padding:10px;
}
a
{
text-decoration:none;
color:black;
}
a:hover
{
    background-color:grey;
}


footer{
    background-color:#714674;
    color:black;
    text-align:center;
    font-weight:300;
    padding:30px;
}
li{
    list-style-type:none;
    display:inline-block;
    padding:0;
    width:200px;
    font-size:20px;
    font-weight:600;
}